<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>register</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link href="/css/fonts.css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/iconfont.css"/>
</head>
<body>
<div id="bigBox">
    <h1>SIGN UP</h1>
    <form action="{{ url_for('register') }}" method="post">
        <div class="inputBox">
            <div class="inputText">
                <span class="iconfont icon-nickname"></span>
                <input type="text" id="nick-name" name="name" placeholder="Input nickname"/>
            </div>
            <div class="inputText">
                <span class="iconfont icon-visible"></span>
                <input type="password" id="password" name="password" placeholder="Input password"/>
            </div>
            <div class="inputText">
                <span class="iconfont icon-visible"></span>
                <input type="password" id="re_password" name="re_password" placeholder="Input password again"
                       onkeyup="validate()"/><span id="tishi" style='font-size:10px;'></span>
            </div>
        </div>
        <input class="loginButton" id="button-login" type="submit" value="Sign up" onclick="alert('注册成功')"/>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
    function validate() {
        let pw1 = document.getElementById("password").value;
        let pw2 = document.getElementById("re_password").value;
        if (pw1 == pw2) {
            document.getElementById("tishi").innerHTML="";
            $("#re_password").css('color', '');
            document.getElementById("button-login").disabled = false;
        }
        else {
            document.getElementById("tishi").innerHTML="<font color='red'>密码不一致</font>";
            $("#re_password").css('color', 'red');
            document.getElementById("button-login").disabled = true;
        }
    }
</script>
</body>
</html>